.page{
    background-color: #000000;
}

.header__logo{
    padding: 45px 0 41px 200px;
}

.header__horizontal-row{
    border: 1px solid#545454;
    opacity: .7;
    width: 880px;
    margin: 0 0 0 200px;
}

.header__profile-container{
    display: flex;
}
.header__profile-picture{
    margin: 36.25px 0 0 200px;
    border-radius: 50%;
}

.profile{
    color: #FFFFFF;
    display:block;
    margin: 105px 0 0 30px;
}

.name{
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.1;
    margin: 0;
}
.title{
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    margin: 16px 0 0 0;
}
.pencil{
    width: 10px;
    height: 10px;
    position: relative;
    left: 7px;
    bottom: 7px;
}

.square{
    position: relative;
    width: 24px;
    height: 24px;
    top:0;
    right: 21px;
}

.add-button-box{
    position: relative;
    padding: 11px 0 0 35px;
}

.add-button-plus{
    position: relative;
    top:1px;
    right:121px;
    padding: 11px 0 0 35px;
}

.card-wrapper{
  display:grid;
  grid-template-columns: 282px 282px 282px;
  grid-template-rows: 361px 361px;
  grid-row-gap: 20px;
  grid-column-gap:17px;
  grid-template-areas:
    "yosemite lake bald"
    "latemar vanoise lago";
}

.card{
    margin-top:47.25px;
    margin-left:200px;
}

.card__picture{
    width:282px;
    height:282px;
    border-radius: 10px 10px 0 0;
    display:block;
}

.card__caption{
    width:282px;
    height:79px;
    background-color: #FFFFFF;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 900;
    font-size:24px;
    line-height:1.2;
    text-align: center;
    padding: 25px 0 25px 0;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
}

.card__icon{
    width:21px;
    height:18px;
    margin-left: 28px;
}

.card__caption-vanoise{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.card__icon-vanoise{
}

.yosemite{
    grid-area: yosemite;
}

.lake{
    grid-area: lake;
}

.bald{
    grid-area: bald;
}

.latemar{
    grid-area: latemar;
}

.vanoise{
    grid-area: vanoise;
}

.lago{
    grid-area: lago;
}

.copyright{
    padding-top: 67px;
    padding-left: 200px;
    padding-bottom: 60px;
    color: #545454;
    font-family: "Inter", "Alias", sans-serif;
    font-weight: 400;
    font-size:18px;
    line-height: 1.21;
}

