@font-face {
  font-family: "Inter-Black";
  src: url(../fonts/Inter-Black.woff2);
}

.card{
  display:grid;
  grid-template-columns: repeat(auto-fill, 282px);
  grid-template-rows: repeat(auto-fill, 361px);
  row-gap:20px;
  column-gap:17px;
}

.card__picture {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
  display: flex;
}

.card__caption {
  width: 282px;
  height:79px;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
  margin: 0;
  display: flex;
  align-items:center;
  justify-content: space-between;
}

.card__heading {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Inter-Black", "Arial", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  align-items: center;
  padding-left:20px;
  margin:0;
}

.card__button {
  flex-shrink: 0;
  width: 21px;
  height: 18px;
  margin-right: 20px;
  align-content: center;
  justify-content: flex-start;
  background-color: #ffffff;
  border: none;
  background-image: url(../images/black-heart.svg);
}
.card__button:hover {
  background-image: url(../images/grey-heart.svg);
  background-repeat: no-repeat;
  cursor:pointer;
}

@media screen and (max-width:880px){
  .card{
      justify-content:center;
  }
}