.card {
  position: relative;
}

.card__image-button {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 10px 10px 0 0;
  display: block;
}

.card__picture {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
  display: flex;
  cursor: pointer;
}

.card__delete-button {
  background-image: url(../images/trash.svg);
  border: none;
  width: 18px;
  height: 19.3px;
  padding: 0;
  position: absolute;
  top: 18px;
  right: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
}

.card__delete-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.card__caption {
  width: 282px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__heading {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  align-items: center;
  padding-left: 20px;
  margin: 0;
}

.card__like-button {
  flex-shrink: 0;
  width: 21px;
  height: 18px;
  margin-right: 20px;
  align-content: center;
  justify-content: flex-start;
  background-color: transparent;
  border: none;
  background-image: url(../images/black-heart.svg);
}
.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url(../images/heart-active.svg);
  opacity: 1;
  transition: opacity 1s linear 0.25s;
  animation-fill-mode: forwards;
}

.card__like-button_active:active {
  opacity: 1;
}

@media screen and (max-width: 880px) {
  .card {
    justify-content: center;
  }
}