.footer__copyright {
  color: #545454;
  background-color: #000000;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
  margin: 0 auto;
  padding-top: 67px;
  padding-bottom: 60px;
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    padding-left: 23px;
  }
}