.footer__copyright {
  color: #545454;
  background-color: #000000;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
  margin:0;
  padding-top:67px;
  padding-bottom:60px;
}
