.form__fieldset {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.form__input-name {
  padding-bottom: 13.26px;
  margin: 0 36px 29.74px 36px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
}

.form__input-description {
  padding-bottom: 13.26px;
  margin: 0 36px 0 36px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
}

.form__save-button {
  width: 358px;
  height: 50.15px;
  background-color: #000000;
  border: none;
  background-image: url(../images/save-icon.svg);
  background-size: 109px 18px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 48px 36px 36.51px 36px;
  padding: 0;
}

.form__save-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 580px) {
  .form__input-name {
    margin: 0 22px 30px 22px;
    font-size: 14px;
  }
  .form__input-description {
    margin: 0 22px 0 22px;
    font-size: 14px;
  }

  .form__save-button {
    width: 238px;
    height: 45px;
    margin: 45px 22px 25px 22px;
    background-size: 38px 18px;
  }
}