.header__logo{
  width: 171px;
  height: 33px;
  padding-top: 45px;
  padding-left:200px;
}

.header__horizontal-row{
  border-bottom: 1px solid#545454;
  opacity: .7;
  flex-shrink: 1;
  flex-basis:50%;
  padding-top: 41px;
  padding-left: 200px;
  padding-right:200px;
  margin: 0 auto;
}

@media screen and (max-width: 800px){
  .header{
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px){
  .header__logo{
    position: relative;
    top: 28px;
    left: 27px;
  }
}