.image-modal__container {
  width: auto;
  height: auto;
  background: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-modal__image {
  height: auto;
  width: auto;
  max-width: 75vw;
  max-height: 75vh;
  object-fit: cover;
}

.image-modal__close-button {
  width: 40px;
  height: 40px;
  border: none;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  background-image: url(../images/close-icon.svg);
  position: absolute;
  top: -40px;
  left: calc(100%);
}

.image-modal__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.image-modal__caption {
  position: absolute;
  left: 0;
  top: calc(100%);
  color: white;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.21;
}

@media screen and (max-width: 580px) {
  .image-modal__image {
    max-width: 75vw;
    max-height: 75vh;
  }
}