.popup__button_disabled{
  color: rgba(0, 0, 0, .2);
  background-color: white;
  border:1px solid rgba(0, 0, 0, .2);
}

.popup__input_type_error{
  border-bottom: 1px solid #FF0000;
}

.popup__error_visible{
  color:#ff0000;
  visibility:visible;
}

.popup__error-message{
  color: #ff0000;
  visibility:hidden;
}