.profile {
  display: flex;
}

.profile__picture {
  width: 168.75px;
  height: 127.5px;
  border-radius: 50%;
  margin-top: 36px;
  margin-bottom: 47.25px;
}
.profile__name {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 42px;
  line-height: 1.1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 30px;
  margin-top: 50px;
  margin-bottom:0px;
  padding-top:13px;
}
.profile__description {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  color: #ffffff;
  margin-left: 30px;
  font-size: 18px;
  line-height: 1.2;
  align-self: center;
}
.profile__edit-button {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 1px solid #ffffff;
  background-image: url(../images/pencil.svg);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  margin-left: 18px;
  margin-bottom: 30px;
  flex-shrink: 0;
}
.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
.profile__add-button {
  width: 150px;
  height: 50px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  background-image: url(../images/plus.svg);
  background-size: 22px 22px;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  margin-bottom: 10px;
  margin-left: 140px;
  flex-shrink: 0;
}
.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 879px) {
  .profile__name {
    font-size: 30px;
  }

  .profile__description {
    font-size: 16px;
    padding-top: 0;
  }

  .profile__edit-button {
    margin-bottom: 44px;
    width: 19px;
    height: 19px;
  }
  .profile__add-button {
    margin-left: 65px;
    margin-bottom: 24px;
    width: 125px;
    height: 42px;
  }
}

@media screen and (max-width: 675px) {

  .profile__name {
    font-size: 20px;
  }

  .profile__description {
    font-size: 14px;
    padding-top: 3px;
  }

  .profile__edit-button {
    margin-bottom: 51px;
  }

  .profile__add-button {
    margin-bottom: 29px;
    margin-left: 40px;
  }
}

@media screen and (max-width: 536px) {
  .profile__name {
    font-size: 16px;
  }

  .profile__description {
    font-size: 12px;
    padding-top: 3px;
  }

  .profile__edit-button {
    width: 16px;
    height: 16px;
    margin-bottom: 57px;
  }

  .profile__add-button {
    width: 180px;
    height: 33px;
  }
}

@media screen and (max-width: 338px) {
  .profile__name {
    margin-left: 5px;
  }

  .profile__description {
    margin-left: 5px;
  }

  .profile__add-button {
    margin-right: 175px;
  }
}

@media screen and (max-width: 320px) {
  .profile{
    display:block;
  }
  .profile__picture {
    margin-top:38.25px;
    margin-left:78.5px;
    margin-bottom:26.25px;
  }
  .profile__name {
    font-size: 22px;
    padding-top:0;
    margin-top:0;
    margin-left:62px;
  }

  .profile__description {
    font-size: 14px;
    padding:0;
    margin: 14px 0 36px 0;
    text-align:center;
  }

  .profile__edit-button {
    background-size: 7.5px 7.5px;
    width: 18px;
    height: 18px;
    margin-left:272.25px;
    margin-bottom:0px;
  }

  .profile__add-button {
    width: 282px;
    height: 50px;
    margin-left:19px;
    margin-right:0;
  }
}