@font-face{
  font-family: "Inter-Medium";
  src: url(../fonts/Inter-Medium.woff2);
}
@font-face{
  font-family: "Inter-Regular";
  src: url(../fonts/Inter-Regular.woff2);
}
.profile{
  display: flex;
}

.profile__picture{
  width: 140px;
  height: 128px;
  border-radius: 50%;
  grid-area: picture;
  margin: 50px 4px 5px 190px;
}
.profile__name{
  font-family: "Inter-Medium", "Arial", sans-serif;
  font-weight: 500;
  color: #FFFFFF;
  display:block;
  font-size: 42px;
  line-height: 1.1;
  margin: 77px 18px 50px 25px;
  grid-area: name;
}
.profile__description{
  font-family: "Inter-Regular" "Arial", san-serif;
  font-weight: 400;
  color: #FFFFFF;
  margin: 105px 0 0 30px;
  font-size: 18px;
  line-height: 1.2;
  margin: 16px 0 0 0;
  align-self: center;
  grid-area: title;
}
.profile__pencil{
  width: 24px;
  height: 24px;
  background-color: #000000;
  border: 2px solid #FFFFFF;
  background-image: url(../images/pencil.svg);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  justify-content: center;
  position:relative;
  bottom: 2px;
  grid-area: pencil;
}
.profile__pencil:hover{
  opacity: .6;
}
.profile__plus{
  width:150px;
  height:50px;
  background-color: #000000;
  border: 4px solid #FFFFFF;
  border-radius: 2px;
  background-image: url(../images/plus.svg);
  background-size: 22px 22px;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  position: relative;
  left: 150px;
  top:10px;
  grid-area: plus;
}
.profile__plus:hover{
  border: 4px solid #545454;
  background-image: url(../images/Vector.svg);
}
@media screen and (max-width: 1201px){
  .profile__picture{
    margin: 36px 0 0 25px;
  }
}

@media screen and (max-width: 906px){
  .profile{
    display: grid;
    grid-template-columns: minmax(auto, 400px) auto;
    grid-template-areas:
    "picture picture"
    "name pencil"
    "title title"
    "plus plus";
    justify-content: center;
  }
}

@media screen and (max-width: 906px){
  .profile__picture{
    margin: 36px auto 0;
  }
}

@media screen and (max-width: 906px){
  .profile__name{
    margin: 0 auto;
  }
}

@media screen and (max-width: 905px){
  .profile__description{
    position: relative;
    left:160px;

  }
}

@media screen and (max-width: 905px){
  .profile__pencil{
    position:relative;
    bottom: 16px;
  }
}

@media screen and (max-width: 800px){
  .profile__plus{
    margin: 0 auto;
    position: relative;
    left: 0px;
  }
}

@media screen and (max-width: 800px){
  .profile__text{
    margin:auto;
  }
}

@media screen and (max-width: 450px){
    .profile__name{
      font-size: 32px;
    }
}

@media screen and (max-width: 345px){
  .profile__plus{
    width: 282px;
  }
}

@media screen and (max-width: 345px){
  .profile__name{
    margin-top: 26px;
    width: 196px;
    height: 22px;
    font-size: 22px;
    margin:auto;
  }
}

@media screen and (max-width: 320px){
  .profile__description{
    padding-top: 14px;
    padding-bottom:36px;
  }
}

@media screen and (max-width: 320px){
  .profile__pencil{
    position:relative;
    bottom: 4px;
    right: 40px;
  }
}
@media screen and (max-width: 320px){
  .profile__picture{
    margin-top: 36px;
  }
}

@media screen and (max-width: 320px){
   .header__horizontal-row{
    width:320px;
    flex-shrink:0;
   }
}